In [1]:
from pathlib import Path
import zipfile
import pandas as pd
import yaml
import csv

In [2]:
with open("config.yaml", "r") as f:
    config = yaml.safe_load(f)

dwca_path = Path(config["input_path"])
species = config["species"]

In [3]:
species

'Panthera Tigris'

In [4]:
with zipfile.ZipFile(dwca_path, "r") as z:
        with z.open("occurrence.txt") as f:
            df = pd.read_csv(f, sep="\t", low_memory=False, quoting=csv.QUOTE_NONE, encoding="utf-8")

In [5]:
df

,gbifID,accessRights,bibliographicCitation,language,license,modified,publisher,references,rightsHolder,type,...,publishedByGbifRegion,level0Gid,level0Name,level1Gid,level1Name,level2Gid,level2Name,level3Gid,level3Name,iucnRedListCategory
0,891133763,NaN,NaN,NaN,CC_BY_NC_4_0,2025-10-10T01:58:01Z,NaN,https://www.inaturalist.org/observations/221472,Ravi Vaidyanathan,NaN,...,NORTH_AMERICA,IND,India,IND.19_1,Madhya Pradesh,IND.19.5_1,Balaghat,IND.19.5.1_1,Baihar,NaN
1,891090763,NaN,NaN,NaN,CC_BY_4_0,2025-09-25T13:22:27Z,NaN,https://www.inaturalist.org/observations/105984,Allan Hopkins,NaN,...,EUROPE,IND,India,IND.29_1,Rajasthan,IND.29.29_1,Sawai Madhopur,IND.29.29.4_1,Khandar,NaN
2,891090761,NaN,NaN,NaN,CC_BY_4_0,2025-11-25T04:11:20Z,NaN,https://www.inaturalist.org/observations/106000,Allan Hopkins,NaN,...,EUROPE,IND,India,IND.29_1,Rajasthan,IND.29.29_1,Sawai Madhopur,IND.29.29.5_1,Sawai Madhopur,NaN
3,891090756,NaN,NaN,NaN,CC_BY_4_0,2025-06-06T01:51:06Z,NaN,https://www.inaturalist.org/observations/106005,Allan Hopkins,NaN,...,EUROPE,IND,India,IND.29_1,Rajasthan,IND.29.29_1,Sawai Madhopur,IND.29.29.5_1,Sawai Madhopur,NaN
4,891090750,NaN,NaN,NaN,CC_BY_4_0,2025-06-06T01:50:16Z,NaN,https://www.inaturalist.org/observations/105972,Allan Hopkins,NaN,...,EUROPE,IND,India,IND.19_1,Madhya Pradesh,IND.19.27_1,Mandla,IND.19.27.1_1,Mandla,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4357,1092885349,NaN,NaN,NaN,CC_BY_NC_4_0,2025-09-30T03:52:44Z,NaN,https://www.inaturalist.org/observations/1507602,VINOD UDHWANI,NaN,...,NORTH_AMERICA,IND,India,IND.20_1,Maharashtra,IND.20.8_1,Chandrapur,IND.20.8.1_1,Bhadravathi,NaN
4358,1038288621,NaN,NaN,NaN,CC_BY_NC_4_0,2025-06-18T18:22:42Z,NaN,https://www.inaturalist.org/observations/750680,Uday Patel,NaN,...,NORTH_AMERICA,IND,India,IND.19_1,Madhya Pradesh,IND.19.5_1,Balaghat,IND.19.5.1_1,Baihar,NaN
4359,1019041686,NaN,NaN,en,CC0_1_0,2015-02-09T15:44:05Z,NaN,NaN,NaN,NaN,...,NORTH_AMERICA,USA,United States,USA.36_1,Ohio,USA.36.21_1,Delaware,NaN,NaN,NaN
4360,1019041058,NaN,NaN,en,CC0_1_0,2015-02-09T15:46:57Z,NaN,NaN,NaN,NaN,...,NORTH_AMERICA,USA,United States,USA.36_1,Ohio,USA.36.21_1,Delaware,NaN,NaN,NaN
4361,1019041017,NaN,NaN,en,CC0_1_0,2015-02-09T15:46:57Z,NaN,NaN,NaN,NaN,...,NORTH_AMERICA,USA,United States,USA.36_1,Ohio,USA.36.21_1,Delaware,NaN,NaN,NaN

In [6]:
occ_df=pd.DataFrame({"Scientific Name":df["scientificName"],
                     "Kingdom":df["kingdom"],
                     "Class":df["class"],
                     "Latitude":df["decimalLatitude"],
                     "Longitude":df["decimalLongitude"],
                     "Coordinate Uncertainty (m)":df["coordinateUncertaintyInMeters"],
                     "Country Code":df["countryCode"],
                     "Year":df["year"],
                     "Month":df["month"],
                     "Basis of Record":df["basisOfRecord"],
                     "Occurrence Status":df["occurrenceStatus"],
                     "Issue":df["issue"]})

In [7]:
occ_df

,Scientific Name,Kingdom,Class,Latitude,Longitude,Coordinate Uncertainty (m),Country Code,Year,Month,Basis of Record,Occurrence Status,Issue
0,"Panthera tigris tigris (Linnaeus, 1758)",Animalia,Mammalia,22.279322,80.794905,30298.0,IN,2010,3.0,HUMAN_OBSERVATION,PRESENT,COORDINATE_ROUNDED;CONTINENT_DERIVED_FROM_COOR...
1,"Panthera tigris tigris (Linnaeus, 1758)",Animalia,Mammalia,26.141612,76.579006,29891.0,IN,2012,3.0,HUMAN_OBSERVATION,PRESENT,COORDINATE_ROUNDED;CONTINENT_DERIVED_FROM_COOR...
2,"Panthera tigris tigris (Linnaeus, 1758)",Animalia,Mammalia,26.070456,76.435718,29891.0,IN,2012,3.0,HUMAN_OBSERVATION,PRESENT,COORDINATE_ROUNDED;CONTINENT_DERIVED_FROM_COOR...
3,"Panthera tigris tigris (Linnaeus, 1758)",Animalia,Mammalia,26.086677,76.453471,29891.0,IN,2012,3.0,HUMAN_OBSERVATION,PRESENT,COORDINATE_ROUNDED;CONTINENT_DERIVED_FROM_COOR...
4,"Panthera tigris tigris (Linnaeus, 1758)",Animalia,Mammalia,22.272353,80.557574,30298.0,IN,2012,3.0,HUMAN_OBSERVATION,PRESENT,COORDINATE_ROUNDED;CONTINENT_DERIVED_FROM_COOR...
...,...,...,...,...,...,...,...,...,...,...,...,...
4357,"Panthera tigris tigris (Linnaeus, 1758)",Animalia,Mammalia,20.222588,79.265354,30490.0,IN,2015,3.0,HUMAN_OBSERVATION,PRESENT,COORDINATE_ROUNDED;CONTINENT_DERIVED_FROM_COOR...
4358,"Panthera tigris tigris (Linnaeus, 1758)",Animalia,Mammalia,22.370401,80.796760,30298.0,IN,2014,6.0,HUMAN_OBSERVATION,PRESENT,COORDINATE_ROUNDED;CONTINENT_DERIVED_FROM_COOR...
4359,"Panthera tigris tigris (Linnaeus, 1758)",Animalia,Mammalia,40.166700,-83.083300,NaN,US,1996,9.0,HUMAN_OBSERVATION,PRESENT,GEODETIC_DATUM_ASSUMED_WGS84;CONTINENT_DERIVED...
4360,"Panthera tigris sumatrae Pocock, 1929",Animalia,Mammalia,40.166700,-83.083300,NaN,US,1995,2.0,HUMAN_OBSERVATION,PRESENT,GEODETIC_DATUM_ASSUMED_WGS84;CONTINENT_DERIVED...
4361,"Panthera tigris tigris (Linnaeus, 1758)",Animalia,Mammalia,40.166700,-83.083300,NaN,US,1995,2.0,HUMAN_OBSERVATION,PRESENT,GEODETIC_DATUM_ASSUMED_WGS84;CONTINENT_DERIVED...

In [28]:
with open("config.yaml", "r") as f:
    config = yaml.safe_load(f)
    min_year=config["filters"]["min_year"]
    coord_uncertainty=config["filters"]["max_coordinate_uncertainty"]

    basis_settings = config["filters"]["allowed_basis_of_record"]
valid_types = [key for key, is_enabled in basis_settings.items() if is_enabled]

In [29]:
occ_df1=occ_df.dropna(subset=["Latitude","Longitude"])
occ_df1=occ_df1[occ_df["Year"].notna() & (occ_df["Year"]>=min_year)]
occ_df1=occ_df1[occ_df["Month"].notna()]
occ_df1=occ_df1[occ_df["Coordinate Uncertainty (m)"].isna() | (occ_df["Coordinate Uncertainty (m)"]<=coord_uncertainty)]
occ_df1 = occ_df1[occ_df["Basis of Record"].isin(valid_types)]

C:\Users\HP\AppData\Local\Temp\ipykernel_23424\3924729244.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  occ_df1=occ_df1[occ_df["Year"].notna() & (occ_df["Year"]>=min_year)]
C:\Users\HP\AppData\Local\Temp\ipykernel_23424\3924729244.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  occ_df1=occ_df1[occ_df["Month"].notna()]
C:\Users\HP\AppData\Local\Temp\ipykernel_23424\3924729244.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  occ_df1=occ_df1[occ_df["Coordinate Uncertainty (m)"].isna() | (occ_df["Coordinate Uncertainty (m)"]<=coord_uncertainty)]
C:\Users\HP\AppData\Local\Temp\ipykernel_23424\3924729244.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  occ_df1 = occ_df1[occ_df["Basis of Record"].isin(valid_types)]

In [30]:
occ_df1

,Scientific Name,Kingdom,Class,Latitude,Longitude,Coordinate Uncertainty (m),Country Code,Year,Month,Basis of Record,Occurrence Status,Issue
25,"Panthera tigris tigris (Linnaeus, 1758)",Animalia,Mammalia,27.546213,84.256294,250.0,NP,2025,12.0,HUMAN_OBSERVATION,PRESENT,COORDINATE_ROUNDED;GEODETIC_DATUM_ASSUMED_WGS8...
462,"Panthera tigris (Linnaeus, 1758)",Animalia,Mammalia,27.215220,84.985470,30.0,NP,2021,1.0,HUMAN_OBSERVATION,PRESENT,NaN
463,"Panthera tigris (Linnaeus, 1758)",Animalia,Mammalia,29.843404,78.189916,30.0,IN,2016,6.0,HUMAN_OBSERVATION,PRESENT,NaN
577,"Panthera tigris (Linnaeus, 1758)",Animalia,Mammalia,23.663864,81.013351,250.0,IN,2009,2.0,HUMAN_OBSERVATION,PRESENT,COORDINATE_ROUNDED;GEODETIC_DATUM_ASSUMED_WGS8...
578,"Panthera tigris (Linnaeus, 1758)",Animalia,Mammalia,25.996317,76.492310,250.0,IN,2007,2.0,HUMAN_OBSERVATION,PRESENT,COORDINATE_ROUNDED;GEODETIC_DATUM_ASSUMED_WGS8...
...,...,...,...,...,...,...,...,...,...,...,...,...
4229,"Panthera tigris (Linnaeus, 1758)",Animalia,Mammalia,26.659422,91.001129,NaN,IN,2016,12.0,HUMAN_OBSERVATION,PRESENT,COORDINATE_ROUNDED;GEODETIC_DATUM_ASSUMED_WGS8...
4230,"Panthera tigris (Linnaeus, 1758)",Animalia,Mammalia,20.248467,79.425378,NaN,IN,2014,5.0,HUMAN_OBSERVATION,PRESENT,COORDINATE_ROUNDED;GEODETIC_DATUM_ASSUMED_WGS8...
4359,"Panthera tigris tigris (Linnaeus, 1758)",Animalia,Mammalia,40.166700,-83.083300,NaN,US,1996,9.0,HUMAN_OBSERVATION,PRESENT,GEODETIC_DATUM_ASSUMED_WGS84;CONTINENT_DERIVED...
4360,"Panthera tigris sumatrae Pocock, 1929",Animalia,Mammalia,40.166700,-83.083300,NaN,US,1995,2.0,HUMAN_OBSERVATION,PRESENT,GEODETIC_DATUM_ASSUMED_WGS84;CONTINENT_DERIVED...
4361,"Panthera tigris tigris (Linnaeus, 1758)",Animalia,Mammalia,40.166700,-83.083300,NaN,US,1995,2.0,HUMAN_OBSERVATION,PRESENT,GEODETIC_DATUM_ASSUMED_WGS84;CONTINENT_DERIVED...

In [31]:
with open("config.yaml", "r") as f:
    config = yaml.safe_load(f)
output_path = Path(config["output_dir"])
occ_df1.to_parquet(output_path, index=False)

In [32]:
n_records_clean = len(occ_df1)
n_record_unclean=len(occ_df)
year_min = occ_df1["Year"].min()
year_max = occ_df1["Year"].max()
basis_counts = occ_df1["Basis of Record"].value_counts(dropna=False)

In [33]:
with open("config.yaml", "r") as f:
    config = yaml.safe_load(f)
    log_path = Path(config["log_dir"])
    with open(log_path, "w") as log:
        species_name = occ_df1["Scientific Name"].iloc[0]
        log.write(f"GBIF DATA INSPECTION LOG for {species_name}\n")
        log.write("=" * 35 + "\n\n")

        log.write(f"Total records: {n_records_clean}\n")
        log.write(f"Year range: {year_min} - {year_max}\n\n")

        log.write("Basis of Record:\n")
        for k, v in basis_counts.items():
            log.write(f"  {k}: {v}\n")

        log.write("\n")

        log.write(f"Data Points before filtering: {n_record_unclean}\n")
        log.write(f"Data Points after filtering: {n_records_clean}\n")
        log.write(f"Records removed: {n_record_unclean - n_records_clean}\n")